.env
.env.local
.env.*.local


backend/venv/
venv/
.env


__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/
*.egg-info/
.installed.cfg
*.egg


.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/


frontend/node_modules/
node_modules/
/.pnp
.pnp.js


frontend/dist/
dist/


*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/


*.db
*.sqlite3

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
.AppleDouble
.LSOverride

*~